<template name="login">
    <div class="blumax-login">
        <div class="login-screen">
            <div class="login-icon">
                <img src="img/icons/svg/clipboard.svg" alt="Welcome to Mail App" />
                <h4>Welcome to <small>Blumax App</small></h4>
            </div>

                <form class="login-form">
                    <div class="form-group">
                        <input type="text" class="form-control login-field" value="" placeholder="Enter your username" id="username" />
                        <label class="login-field-icon fui-user" for="username"></label>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control login-field" value="" placeholder="Password" id="password" />
                        <label class="login-field-icon fui-lock" for="password"></label>
                    </div>
                    <input type="submit" class="btn btn-primary btn-lg btn-block btn-login" value="Log in">
                    <a class="login-link" href="#">Lost your password?</a>
                </form>

        </div>
    </div>
</template>
