<template name="navbar">
    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="/">Blumax</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a>Welcome {{userName}}</a></li>
                    {{#if log}}
                    <li class="dropdown">
                        <a href="#menu" class="dropdown-toggle" data-toggle="dropdown">Menu
    <span class="caret"></span>
</a>
                        <ul class="dropdown-menu">
                            <li><a href="/allOrderList">View Orders</a></li>
                            <li><a href="/allReturnList">View Returns</a></li>
                            <li><a href="/allCustomers">View Customers</a></li>
                            <li><a href="/addCustomer">Add Customer</a></li>
                        </ul>
                        <!-- /Sub menu -->
                    </li>
                    <li><a href="/" id="logout">Log-out</a></li>
                    {{/if}}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</template>
